<!DOCTYPE html>
<html>
<head>
	<title>ClientRegister</title>

</head>




<h3>Montaz</h3>



 </div>

<div class="container-fluid" style="">

<div class="row">
<div class="col-md-7 col-md-offset-3 registerform col-sm-7 col-sm-offset-3 col-xs-12 col-lg-7">
<h3 style="text-align: center;">Enter Information</h3>
<br><br>

   <div class="col-md-6">

   <form method="post" action="signUp" onsubmit="return validateForm()" id="myForm">
                        <div>
                             <div class="input-group">
                                   <span class="input-group-addon">Full Name</span>
                                   <input type="text" name="fullname" id="fullname" class="form-control" size="60" required>
                              </div>

                         </div>


                          <div>
                             <div class="input-group">
                                   <span class="input-group-addon">Email Id</span>
                                   <input type="email" name="email" id="emailId" class="form-control" size="60" required>
                              </div>

                         </div>
                        <div>
                             <div class="input-group">
                                   <span class="input-group-addon"> Password</span>
                                   <input type="password" name="password" id="Password" class="form-control" size="60" required>
                              </div>

                         </div>
                         <div>
                                    <button  type="submit" form="myForm"><span ></span>  Sign Up</button>
                                </div>

                       </form>




<br/><br/>






       </div>
       </div>

  </div>

<br><br><br><br><br>

</body>
</html>